{% extends '::base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>
<p>
    <a href="<?php echo $this->url('album', array('action'=>'add'));?>">Add new album</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Artist</th>
    <th>&nbsp;</th>
</tr>
{% for album in albums %}
<tr>
    <td>{{ album.title }}</td>
    <td>{{ album.artist }}</td>
    <td>
        <a href="/album/edit/{{ album.id }}">Edit</a>
        <a href="/album/delete/{{ album.id }}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>
{% endblock %}
 