{% extends 'DemoTutorialBundle:Default:album_base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>
<p>
    <a href="{{ path('_album_add') }}">Add new album</a>
</p>

<table class="table">
<tr>
    <th>Title</th>
    <th>Artist</th>
    <th>&nbsp;</th>
</tr>
{% for album in albums %}
<tr>
    <td>{{ album.title }}</td>
    <td>{{ album.artist }}</td>
    <td>
        <a href="{{ path('_album_edit', {'id': album.id}) }}">Edit</a>
        <a href="{{ path('_album_delete', {'id': album.id}) }}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
 